* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #121d30;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    border-radius: 2px;
    background-color: #feff9c;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px 5px #0b111c;
}

.text {
    background-color: #feff9c;
    height: 300px;
    width: 90%;
    margin: 3rem;
    transform: translateY(-20px);
    font-size: 1.5rem;
    resize: none;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxes {
    border-radius: 7px;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 220px;
    transform: translateY(100px);
    gap: 1rem;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: translateY(-5px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box::before {
    content: attr(data-text);
    color: rgba(199, 195, 195, 0.874);
    position: absolute;
    height: 10px;
    width: 50px;
    font-size: 1.2rem;
    transform: translateY(13px);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}